<div class="myContainer">
  <div class="searchBar">
    <input class="form-control" type="text"placeholder="Inserire id utente"/>
  </div>
  <div class="tab">
    <table class="table">
        <thead>
          <tr>
            <th>ID utente</th>
            <th>ID scheda</th>
            <th>voto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userV of listaUserV">
            <td>
              {{ userV.id_utente }}
            </td>
            <td>
              {{ userV.id_scheda}}
            </td>
            <td>
              {{ userV.voto }}
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  
</div>
 


