<div class="myContainer">
  <div class="searchBar">
    
    <input class="form-control" id="cerca" type="text"placeholder="Inserire id utente"
    [(ngModel)]="searchId" autocomplete="off"/>
  </div>
  <div class="tab">
    <h2>Lista degli utenti che hanno votato</h2>
    <table class="table">
        <thead>
          <tr>
            <th>ID utente</th>
            <th>ID scheda</th>
            <th>voto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userV of (listaUserV | filterid:searchId)">
            <td>
              {{ userV.id_utente }}
            </td>
            <td>
              {{ userV.id_scheda}}
            </td>
            <td>
              {{ userV.voto }}
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  
</div>
 


