
<div class="sidenav">
<div class="row">
  <div class="col-12">      
        <button class="menubtn">
            <a [routerLink]="['/user-dashboard']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
                HOME </a>
        </button>   
    </div>
  
</div>
<div class="row">
    <div class="col-12">
        <button class="menubtn">
            <a [routerLink]=""> VOTA </a>
        </button>  
    </div>

</div>

<div class="row">
    <div class="col-12">
        <button class="menubtn">
            <a [routerLink]="">PROFILO </a>
        </button>  
    </div>

</div>
</div>