<div id="header" class="row no-gutters">
  
  <div class="col-md-2 mydiv" style="background-color: #1e282d; display: inline-block; width: 100vh; height: 12vh;">
      <div class="center">
          <div class="image">
            <img src="../../../assets/user.svg" style="height:50%; margin:0.5%;"> 
          </div>
          <div class="text">
            {{user.username}} {{user.usertype}}
          </div>
          <div class="clear">
          
          </div>
      </div>
  </div>

  <div class="col-md-3" style="width: 100vh">
      <div class="searchContainer">
      </div>
  </div>
  
  <div class="col-md-4" style="text-align: center; width: 100vh"></div>
  
  <div class="col-md-1" style="text-align: center; width: 100vh">
  </div>
  
  <div class="col-md-2" style="display: inline-block; width: 100vh">
<a><i class="fas fa-phone" style="font-size:25px; padding:12px"></i></a> 
<a><i class="fas fa-bell" style="font-size:25px; padding:12px"></i></a> 
<a><i class="fas fa-envelope" style="font-size:25px; padding:12px"></i></a> 
  </div>
</div>