*{
    text-align: center;
}


a:hover {
	color: #999999;
}

input, select{
    background-color: inherit;
    font-size: inherit;
}

input:hover,  input:active, input:focus{
    border: 2px solid crimson;
}



.button{
	width: 100%;
}

.insert{
	background: rgb(231, 231, 231);
}

.tabInsert table{
	box-shadow: 1px 1px 10px 2px #888888;
}