<div class="container">
  <div class="row justify-content-md-center mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <div class="tabList">
      <table class="table table-hover">
        <caption style="text-align: center;">Scegli una scheda cliccando sul pallino rosso</caption>
       <thead>
          <tr>
            <th>
              TITOLO
            </th>
            <th>
              STATO
            </th>  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let scheda of listaSchede; let i = index ">
            <td>
              {{ scheda.titolo }}
            </td>
            <td>    
             <div *ngIf="checkVoti[i] == true; then thenBlock else elseBlock"></div>              
              <ng-template #thenBlock><a [routerLink]="['/user-dashboard/votazione', {id_scheda: scheda.id}]" >
                <i class="fas fa-circle" style="color: red"></i>
              </a>
            </ng-template>
            <ng-template #elseBlock><i class="fas fa-circle" style="color: green"></i></ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    
</div>
