<div class="container" >
  <div class="center">
    <div class="headerForm">
    <!-- titolo -->
    <div class="title">
      <h2 style=" vertical-align: middle;"><span>{{ schedaDTO.titolo }}</span></h2>
    </div>
    <!-- Domanda -->
      <div class="question">
        <h3 style=" vertical-align: middle;">{{ schedaDTO.domanda }}</h3>
      </div>
     </div>

    <!-- form risposte -->
      <div class="answerForm">
        <form (ngSubmit)="submit(utenteVtoinsert)">
          <input type="text" [(ngModel)]="utenteVtoinsert.id_scheda" name="id_scheda" style="display: none;">
          <input type="text" [(ngModel)]="utenteVtoinsert.id_utente" name="id_utente" style="display: none;">
          <div class="row1">
            
            <input type="radio" name="voto" id="r1" [(ngModel)]="utenteVtoinsert.voto" value="1">
            <label for="r1"><span>{{schedaDTO.risposta1}}</span></label>
          </div>
          <div class="row2">
            
            <input type="radio" name="voto" id="r2" [(ngModel)]="utenteVtoinsert.voto" value="2">
            <label for="r2"><span>{{schedaDTO.risposta2}}</span></label>
          </div>
          <div class="row2">
            
            <input type="radio" name="voto" id="r3" [(ngModel)]="utenteVtoinsert.voto" value="3">
            <label for="r3"><span>{{schedaDTO.risposta3}}</span></label>
          </div>
          <div class="rowbtn">
            <div class="btnContainer">
              <button type="submit" class="btn btn-primary">invia</button>
            </div>
          </div>
          
        </form>
      </div>
    </div>  

</div>
