@charset "ISO-8859-1";
.navbar {
	position: relative;

}

.navbar span {
	float: right;
	margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header {
	position: relative;
}

.header span {
	margin: 0;
  position: absolute;
	top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#logout {
	display: block;
	float: right;
	position: relative;
	height: 100%;
	width: 10%;
}

#logout a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

#logout a span {
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.link {
	display: block;
	width: 100%;
	height: 10%;
	font-weight: bold;
}

.link a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	color: white;
}

.link a span{
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.link a:hover {
	background-color: #00ccad;
}

#mainContainer {
  display: block;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

#tableContainerUtenti{
  display: block;
  float: left;
  height: 100%;
  width: 70%;
}

#tableContainerUtenti h2 {
  display: block;
  height: 10%;
  width: 100%;
  text-align: center;

}

#tableContainerUtenti table{
  display: block;
  width:95%;
  overflow: auto;
}

#formInsertUtente {
  display: block;
  float: right;
  height: 100%;
  width: 30%;
}

#formInsertUtente form {
  display: block;
  width: 100%;
  height: 100%;
}

.footer{
  clear: both:
}
