<div class="container">
  
    <div class="tab">
      <table class="table">
        <caption>Statistica voti scheda</caption>
        <thead>
          <tr>
            <th><h3>% Risposta 1</h3></th>
            <th><h3>% Risposta 2</h3></th>
            <th><h3>% Risposta 3</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{ris[0]}} </td>
            <td> {{ris[1]}} </td>
            <td> {{ris[2]}} </td>
          </tr>
        </tbody>

      </table>
    </div>
 

</div>